<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Prescription</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Create Prescription</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.medical_record_id.label_tag }}
            {{ form.medical_record_id }}
        </div>
        <div class="form-group">
            {{ form.medication_id.label_tag }}
            {{ form.medication_id }}
        </div>
        <a href="{% url 'create_medication' %}" class="btn btn-link">Add New Medication</a>
        <div class="form-group">
            {{ form.dosage.label_tag }}
            {{ form.dosage }}
        </div>
        <div class="form-group">
            {{ form.frequency.label_tag }}
            {{ form.frequency }}
        </div>
        <div class="form-group">
            {{ form.duration.label_tag }}
            {{ form.duration }}
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'medical_record_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
